body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

button {
  position: absolute;
  right:25px;
  margin: 20px;
  }
   
  #pause::after {
  content: 'Pause';
  }
   
  #pause.pause::after {
  content: 'Play';
  }

/* #map {
  width: 800px;
  height: 300px;
  margin: auto; 
} */
